@import '../../variables.scss';

%common-styles {
  color: $secondary;
  background: $primary;
}
.navigation {
  padding: 0;
  margin: 0;
  a {
    align-items: center;
    background: $emphasis;
    color: $text;
    display: inline-flex;
    height: 75px;
    justify-content: center;
    margin: 0;
    text-decoration: none;
    width: 75px;

    i {
      font-size: 2rem;
    }

    &:hover, &:focus {
      @extend %common-styles;
			transition: background 0.2s 0.1s, color 0.2s 0.1s;
    }

    &.active {
      @extend %common-styles;
    }
  }
}

/* FOOTER */
.copyright {
  color: #555;
}
