@import "../../variables.scss";

.social-coding {
	max-width: 1000px;
	margin: 0 auto;

	a {
		color: $text;
		margin: 10px auto;
    padding: 25px;

		&:hover, &:focus {
			color: $primary;
			transition: background 0.2s 0.1s, color 0.2s 0.1s;

			.codewars {
				fill: $primary;
				transition: fill 0.2s 0.1s;
			}
		}
	}
}

.social-coding-links {
  margin-top: 50px;
}

.codewars {
	fill: $text;
	height: 93px;
	width: 98px;
}

.font-icons {
	font-size: 7em;
	color: inherit;
}
