@import '../../variables.scss';
%common-block-styles {
  display: block;
}

%common-hover-styles {
  background: $primary;
  transition: background 0.2s ease-in;
}

%common-hover-after-styles {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid $primary;
  bottom: 45px;
  content: '';
  display: block;
  height: 0;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  transition: opacity 0.2s ease-in;
  opacity: 1;
  width: 0;
}

.portfolio {
  max-width: 1000px;
	margin: 0 auto;
}

.portfolio-item {
  border: none;
  display: inline-block;
  margin-bottom: 10px;
  padding: 0;
  position: relative;
  text-decoration: none;

  &:hover {
    &:after{ @extend %common-hover-after-styles; }

    .frame {
        @extend %common-hover-styles;
    }
  }

  &:focus {
    &:after{ @extend %common-hover-after-styles; }
    .frame {
        @extend %common-hover-styles;
    }
  }

  &:after {
    content: '';
    opacity: 0;
  }

  .frame {
    background: $emphasis;
    display: inline-block;
    padding: 7px;

    p {
      background: $secondary;
      margin: 0;
      padding: 15px;
    }
  }

  .content {
    @extend %common-block-styles;
    overflow: hidden;
    max-height: 200px;
  }
}
