@import "variables.scss";

/* You can add global styles to this file, and also import other style files */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	-webkit-animation: fadein 1s;
	-moz-animation: fadein 1s;
	animation: fadein 1s;
  background: $secondary;
  margin: 0;
}

ol,
ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $primary;
	margin-bottom: 10px;
}

h1 {
	font-size: 2.2rem;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.6rem;
}

h4 {
	font-size: 1.4rem;
}

h5 {
	font-size: 1.2rem;
}

h6 {
	font-size: 1rem;
}

section {
	margin-bottom: 10px;
}

a,
a:hover,
a:focus,
a:active {
  color: $primary;
  text-decoration: none;
}

.clearfix:after {
	content: '.';
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

p {
	color: $text;
	margin-bottom: 20px;
}

blockquote:before {
	content: '\f10d';
	color: #FFF;
	font-family: "FontAwesome";
	font-size: 1em;
}

blockquote {
	border: none;
	font-size: 1em;
}

blockquote:after {
	content: '\f10e';
	color: #FFF;
	font-family: "FontAwesome";
	font-size: 1em;
}

.text-center {
	text-align: center;
}

.text-right {
  text-align: right;
}

.hide {
	position: absolute;
	left: -99999px;
}

.rounded-img {
	width: 200px;
	border-radius: 50%;
	background: #555;
	padding: 7px;
	margin: 10px 0;
}

.img-responsive {
    width: 100%;
}

.main-content {
  display: block;
  margin:  0 10px 60px 10px;
}

.home,
.portfolio,
.social-coding,
.font-icons,
.portfolio-details,
.not-found,
.achievements {
	animation: fadein 1s;
	margin-bottom: 25px;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
