@import '../../variables.scss';

.achievements blockquote {
  color: $textColor;
  font-size: 2.1rem;
  text-align: center;
}
.achievements .col-xs-4 {
  float: none;
  display: inline-block;
  vertical-align: top;
}
