@import '../../variables.scss';

.home {
  max-width: 1000px;
  margin: 0 auto;

  h1 {
    font-size: 4rem;
    & + p {
      font-size: 2rem;
    }
  }
}

.resume {
  color: $textColor;
  margin-right: 10px;

  &:hover, &:focus {
    color: $textColor;
    text-decoration: none;
  }
}

.resume-pdf:before {
  color: #555;
  content: '\f1c1';
  font-family: 'FontAwesome';
  font-size: 4em;
}
.resume-docx:before {
  color: #555;
  content: '\f1c2';
  font-family: 'FontAwesome';
  font-size: 4em;
}

.resume-pdf:hover:before,
.resume-pdf:focus:before,
.resume-docx:hover:before,
.resume-docx:focus:before {
  color: $primary;
  transition: background 0.2s 0.1s, color 0.2s 0.1s;
}
